# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
myen/
myen313/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml